* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins" sans-serif;
}
.content__left {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 5rem;
  .left__first {
    width: 100%;
    height:25rem;
    p {
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #44bd32;
      margin-bottom: 1rem;
    }
    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%);
      border-radius: 10px;
      border: 1px solid #44bd32;
      padding: 10px;
      font-size: 16px;
      background: #fff;
      height: calc((100% - 10px) / 2) !important;
      p:first-child {
        color: #222;
        font-size: 16px;
        text-align: center;
      }
      p:not(p:first-child) {
        text-transform: none;
        text-align: left;
        margin-top: 5px;
        font-size: 15px;
        color: rgba(44, 44, 44, 0.747);
      }
    }
  }
  .left__second {
    margin-top: 5rem;
    width: 100%;
    height:28rem;
    p {
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #44bd32;
      margin-bottom: 1rem;
    }
    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 20%);
      border-radius: 10px;
      border: 1px solid #44bd32;
      padding: 10px;
      font-size: 16px;
      background: #fff;
      
      height: calc((100% - 10px) / 2) !important;
      position: relative;
      p:first-child {
        color: #222;
        font-size: 16px;
        text-align: center;
      }
      p:not(p:first-child) {
        text-transform: none;
        text-align: left;
        margin-top: 2px;
        font-size: 15px;
        color: rgba(44, 44, 44, 0.747);
      }
      .status{
        position: absolute;
        top:0;
        right:20px;
        color:red !important;

      }
    }
  }
}
.content__right{
  width: 100%;
  height: 50%;
  padding:10px;
  p{
    font-size:20px;
    text-align:center;
    color:#44bd32;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
  }
  input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline-style: none;
  }
  input:read-only{
    background-color: #ccc;
  }
  
  button {
    width: 100%;
    background-color: #44bd32;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
}