* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}
.content__one {
  background-image: url("../../image/background-aztest-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 32.5rem;
  position: relative;
  .one__shape {
    position: absolute;
    bottom: 0rem;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 20rem;
  }
  .one__img {
    background-image: url("../../image/portraint-man.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0rem;
    right: -6rem;
    min-height: 15rem;
    width: auto;
    padding: 15rem;
    transition: all 4s ease;
    animation: changeBackGround 10s linear infinite alternate-reverse;
  }

  @keyframes changeBackGround {
    from {
      background-image: url("../../image/portraint-man.png");
    }
    to {
      background-image: url("../../image/portaint-teacher-aztest-1_1.png");
    }
  }

  .one__desc {
    position: absolute;
    top: 6rem;
    left: 5rem;
    z-index: 100;
    &__first {
      font-weight: 500;
    }
    &__first:after {
      content: "Giáo Dục";
      transition: all 0.3s ease;
      animation: changeTextAdd 2s ease infinite alternate-reverse;
    }
    @keyframes changeTextAdd {
      from {
        content: "Giáo Dục";
      }
      to {
        content: "Học Sinh";
      }
    }
  }
}
.content__two {
  .two__title {
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  .two__item {
    background-color: #fff;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    padding: 3rem 2rem;
    border-radius: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
      width: 10rem;
      height: 10rem;
    }
    div {
      margin-top: 2rem;
      color: #00205c;
      font-weight: 700;
      width: 100%;
      font-size: 20px;
    }
  }
}
.content__three {
  .three__title {
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  .three__item {
    background-color: #fff;

    padding: 3rem 2rem;

    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
      width: 12.5rem;
    }
    div {
      margin-top: 2rem;
      color: #00205c;
      font-weight: 700;
      width: 100%;
      font-size: 2rem;
    }
  }
}
.content__four {
  padding-bottom: 2rem;
  .four__title {
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .four__item {
    background-color: #fff;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    border: 1px solid white;
    padding: 3rem 2rem;
    border-radius: 10px;
    text-align: center;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .four__item__img {
      max-width: 90%;
      max-height: 7rem;
      height: 7rem;
      min-height: 7rem;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .four__item__desc {
      text-align: left;
      margin-top: 0.5rem;
      padding-bottom: 0.5rem;
      white-space: pre-wrap;
      overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
      text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
      -webkit-line-clamp: 2; // số dòng muốn hiển thị
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
}
