* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: "Poppins", sans-serif;
}
.question__item {
  margin: 2rem;
  p {
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  table {
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    tr {
      margin: 1rem;
      display: flex;
      td {
        min-width: 6rem;
      }
      td + td {
        flex: 1;
        margin-left: 0.5rem;

        textarea {
          border: 1px solid black;
          outline-style: none;
          padding: 6px 12px;
        }
        select {
          outline-style: none;
          border: 1px solid black;
        }
      }
    }
  }
}
