@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$backgroundImg: #44bd32;

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.title {
  background: white;
  width: 100%;
  .search {
    &__container {
      padding-top: 64px;
    }
    &__input {
      width: 100%;
      padding: 12px;

      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 14px;
      line-height: 18px;

      color: #000000;
      background-color: transparent;
      /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid #44bd32;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;

      &::placeholder {
        color: black;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      &:hover,
      &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #009432;
        border-radius: 0;
        background-position: 100% center;
      }
    }
  }
}
.menu {
  display: inline-block;
  background-color: $backgroundImg;
  height: 3.5rem;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  a {
    color: #333;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 300;
    &:focus,
    &:focus-within {
      outline: none;
    }
  }
  > ol {
    display: flex;
    > li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }
  }
}
@media (min-width: 45rem) {
  .menu {
    > ol {
      justify-content: space-around;
      &:hover,
      &:focus-within {
        > li:first-child {
          > a {
            opacity: 0.6;
          }
        }
      }
      > li {
        flex: 1 1 0;
        &:last-child:after {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          bottom: 0;
          margin-right: -50%;
          background: rgba(0, 0, 0, 0.1);
          border-radius: 0.5rem;
          z-index: 0;
          transition: 350ms cubic-bezier(1, 0.49, 0.09, 1.29) all;
          pointer-events: none;
          z-index: 9999;
        }
        @for $i from 1 to 14 {
          &:first-child:nth-last-child(#{$i}) ~ li:last-child:after {
            right: 50% + 100% * ($i - 1);
          }
        }
        @for $i from 1 to 14 {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ li {
            @for $j from 1 to $i {
              &:nth-child(#{$j}):hover,
              &:nth-child(#{$j}):focus,
              &:nth-child(#{$j}):focus-within {
                ~ li:last-child:after {
                  right: 50% + 100% * ($i - $j);
                }
                > ol a {
                  box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0);
                  &:hover,
                  &:focus,
                  &:focus-within {
                    box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0.1);
                  }
                }
              }
              &:last-child:hover:after,
              &:last-child:focus:after,
              &:last-child:focus-within:after {
                right: 50%;
              }
            }
          }
        }
        &:first-child {
          > a {
            opacity: 1;
          }
        }
        > a {
          color: rgb(255, 255, 255);
          line-height: 3.5rem;
          font-size: 16px;
          font-weight: bold;
          position: relative;
          width: 100%;
          text-align: center;
          z-index: 1;
          transition: 250ms ease all;
        }
        > ol {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          visibility: hidden;
          z-index: 9999;
          > li {
            margin-top: 0.5rem;
            transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) transform;
            transform: scale(0);
            > a {
              display: block;
              text-align: center;
              border-radius: 0.2rem;
              padding: 1rem 0.5rem;
              font-size: 14px;
              background-color: $backgroundImg;
              color: rgb(255, 255, 255);
              transition: 250ms ease all;
              &:hover,
              &:focus,
              &:focus-within {
                box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0.1);
                color: #333;
                font-weight: bold;
              }
            }
          }
        }
        &:hover,
        &:focus,
        &:focus-within {
          > a {
            opacity: 1 !important;
          }
          > ol {
            z-index: 9999;
            visibility: visible;
            > li {
              transform: scale(1);
              &:first-child {
                transition-delay: 150ms;
              }
            }
            @for $k from 1 to 14 {
              > li:nth-child(#{$k}) {
                transition-delay: 150ms * $k;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 45rem) {
  .menu {
    background-color: backgroundImg;
    a {
      font-size: 1.4rem;
      padding: 1rem 0.5rem;
    }
    > ol {
      flex-direction: column;
      > li {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        > a:nth-last-child(2) {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.25rem;
            right: 1.5rem;
            border-top: 0.5rem solid #fff;
            border-left: 0.3rem solid transparent;
            border-right: 0.3rem solid transparent;
            transition: 250ms ease all;
          }
        }
        &:focus-within,
        &:focus,
        > a:hover,
        > a:focus-within,
        > a:focus {
          &:nth-last-child(2) {
            &:after {
              transform: rotate(180deg);
            }
          }
          + ol {
            max-height: 12rem;
          }
        }
        > ol {
          background: rgba(0, 0, 0, 0.1);
          box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
          overflow: hidden;
          max-height: 0;
          transition: 250ms ease all;
          > li {
            a {
              display: block;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
// --------------------search----------------------
