* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.main__test {
  position: relative;
  .container__test {
    padding: 0.5rem 5rem;
    .test__item {
      padding: 1rem 2rem;
      letter-spacing: 1px;
      text-align: justify;
      background-color: #fff;
      border: 1px solid #009432;
      box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
      border-radius: 1rem;
      width: 100%;
      p {
        margin-bottom: 0.5rem;
      }
      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
      }
      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
      }
      [type="radio"]:checked + label:before,
      [type="radio"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
      }
      [type="radio"]:checked + label:after,
      [type="radio"]:not(:checked) + label:after {
        content: "";
        width: 12px;
        height: 12px;
        background-color: #26ba99;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
  .container__list {
    position: fixed;
    right: 1rem;
    top: 7rem;
    z-index: 9999;
    min-width: 17rem;
    div {
      a:hover {
        cursor: pointer;
        background-color: rgb(28, 133, 98);
        border-color: rgb(28, 133, 98);
        color: white;
        transition: all 0.5s ease;
      }
    }
    .list__time {
      color: red;
    }
  }
}
